src/main/mule/training-reports-papi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-report-by-email" doc:id="289c8b5c-c8ac-419b-bb58-1218ab0e1f8b" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="4e42e9e1-aeb8-4b12-97b4-48c5267a9ad9" >
			<route >
				<flow-ref doc:name="get-trainer-info" doc:id="abb23b99-c70a-4d4d-a44c-c2bb565bc033" name="get-trainer-info" />
			</route>
			<route >
				<flow-ref doc:name="get-batch-ids" doc:id="78462453-deca-423d-a07e-2cdfebfd1744" name="get-batch-ids"/>
			</route>
		</scatter-gather>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;[vars."batch-info" &lt;&lt; payload]]' doc:name="Set Payload" doc:id="67b8ce7f-b078-4bf8-9048-3c1c3f4b1adc" />
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;[vars.qcNotes &lt;&lt; payload]]" doc:name="Set Payload" doc:id="d74e7d0d-f44c-4f25-9db4-6d7b30216751" />
		<ee:transform doc:name="Transform Message" doc:id="221fcf94-7502-42d6-bceb-965bc7282dff">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a1d65eb3-41a6-4bfb-af53-9778102bbb6b" />
	</flow>
	<flow name="get-trainer-info" doc:id="25390650-cb32-4cd2-9059-cc1cdb7a6291" >
		<http:request method="GET" doc:name="GET /training/{trainerEmail}" doc:id="90781def-66ea-4f12-8b6b-c9500e972fae" config-ref="HTTP_Request_configuration" path="${get-trainer-info.path}/{email}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"email" : vars.trainerEmail
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="d7ef883b-898c-4227-96d8-c784b9219ec8" />
	</flow>
	<flow name="get-batch-ids" doc:id="82e625b3-4519-4b99-ba66-21359659a088" >
		<http:request method="GET" doc:name="GET /training" doc:id="b01d2c8d-ac8f-4475-965d-87f2fff1fb2d" config-ref="HTTP_Request_configuration" path="${get-trainer-info.path}">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"email" : vars.trainerEmail
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="b45b025a-0f58-43f0-bc2b-73d9b61c8d6b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="get-batch-info" doc:id="9889afda-23c3-4f4a-82a5-c096f99d87f2" name="get-batch-info"/>
		<logger level="INFO" doc:name="Logger" doc:id="f20e090e-d14d-4d22-819b-698802aaf4c7" />
	</flow>
	<flow name="get-batch-info" doc:id="751b3957-43f0-4379-b045-846a2ed6afc4" >
		<set-variable doc:name="batch-info" doc:id="b47083f9-1c0a-4d98-9736-4d83db849ed4" variableName="batch-info" value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;[]]" doc:name="qcNotes" doc:id="82d24e00-c848-44a4-88f4-00068c54e6a9" variableName="qcNotes" />
		<foreach doc:name="For Each" doc:id="c75369da-6eac-42f9-bee9-cd0ef41b5a14" collection="payload">
			<scatter-gather doc:name="Scatter-Gather" doc:id="c62dea74-0feb-4acf-b2cb-b7cc7250eb06" >
				<route >
					<http:request method="GET" doc:name="GET /training/batch" doc:id="b6274081-f849-430b-940e-0e0d93fe2732" config-ref="HTTP_Request_configuration" path="${get-trainer-info.path}${get-batch-info.path}">
				<http:query-params><![CDATA[#[output application/java
---
{
	"batchId" : payload
}]]]></http:query-params>
			</http:request>
					<set-variable value='#[vars."batch-info" &lt;&lt; payload]' doc:name="batch-info" doc:id="9cbeb261-0c2f-423a-9c98-b8f348a2da4d" variableName="batch-info" />
				</route>
				<route >
					<flow-ref doc:name="get-qc-notes" doc:id="8c7e34c9-45ff-4f8d-972a-8c1fa5fb801f" name="get-qc-notes"/>
				</route>
			</scatter-gather>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="b3dd4acd-0c47-42ea-8db6-93d0d443c406" />
	</flow>
	<flow name="get-qc-notes" doc:id="fc898349-b5bb-41f5-b62d-4d22778a5af9" >
		<http:request method="GET" doc:name="GET /notes/{batchId}" doc:id="bfba91e2-c6c2-44e7-b1df-90edf6651fb7" config-ref="HTTP_Request_configuration" path="${get-qc-notes.path}/{batchId}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"batchId" : payload
}]]]></http:uri-params>
		</http:request>
		<set-variable value="#[vars.qcNotes &lt;&lt; payload]" doc:name="qcNotes" doc:id="50dd0b48-a872-43e9-904b-d461fcac6d39" variableName="qcNotes"/>
		<foreach doc:name="For Each" doc:id="18d0adda-b3c5-438a-b268-cc0f07827425" collection="payload">
			<flow-ref doc:name="get-category" doc:id="cefb9d1c-5771-4e5b-9bec-6952ee83d308" name="get-category" />
			<set-variable value="#[vars.qcNotes &lt;&lt; payload]" doc:name="qcNotes" doc:id="d4d59fb1-a77c-4405-8c8f-39e839c1d184" variableName="qcNotes"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="d869b149-47a7-42bb-af72-fa57d0f3b65e" />
	</flow>
	<flow name="get-category" doc:id="014322cb-11e3-4294-9a8e-302352666117" >
		<http:request method="GET" doc:name="GET /category" doc:id="b13c5351-a59c-4d6f-81a3-e1f4c671ce87" config-ref="HTTP_Request_configuration" path="${get-category.path}">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"batchId" : payload.batchId,
	"week" : payload.week
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="9dff8bf5-e90a-4a02-aff4-1b22fd048e47" />
	</flow>

</mule>
